<!DOCTYPE html>
<html>
<head>
    <title>大綱紀錄</title>
</head>
<body>
    <h1> 大綱紀錄
        <p>（1）過去很強調從臺灣的視角，但也應該重視國際性和全球性，人權是全世界的普遍關懷，須增加高度提升擴充，重複的東西可能失去新意（景美人權文化園區）。</p>
        <p>（2）我們要注意賣點在哪裡，重要性在哪裡？展覽的獨特性，顯示重要性，高教要有高度、有超越性。</p>
        <p>（3）全球性和國際性視角，如何被討論和呈現，人權這個概念和理解，如何理解法規實行在人權層面？</p>
        <p>（4）全國相關的人權議題。（SDGS）</p>
        <p>（5）Google的人權概念。</p>
        <p>（6）我們展覽的價值在哪裡？想要給觀眾什麼？</p>
        <p>（7）用載具查找資料。</p>
        <p>（8）行銷自己的方案，速度、效率和方法。</p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
        <p>（1）先注意聯合國設定的人權目標，在哪些地區、國家和學術團體，他們在這個議題上的觀點、討論和意見會是比較值得參考的。</p>
        <p>（2）以東南亞區域之人權議題為例並聚焦在族群紛爭，如緬甸的佛教徒和伊斯蘭教徒和基督教徒、柬埔寨的紅色高棉大屠殺、南北越及統一後對人權的迫害（加入法國和美國）、馬來西亞的五一三事件排華事件、印尼的排華事件。</p>                                                                                                                           　。 </h1>
    <a href="/">Home</a>
</body>
</html>
