<section class="references" style="background-color: #FFFFE0;">
    <h2>策展參考:</h2>
    
    <!-- 第一個策展參考 -->
    <p>東南亞人權相關策展</p>
    <img src="{{ url_for('static', filename='5161651.png') }}" alt="參考圖片" style="width: 300px; height: auto;">
    <a href="https://the.nmth.gov.tw/nmth/zh-tw/Special/SpecialDetail/d484aeef-653b-4128-a293-50058bf07a34" target="_blank">
        「新臺客：東南亞移民移工在臺灣」特展
    </a>
    
    <!-- 第二個策展參考 -->
    <img src="{{ url_for('static', filename='56165188.jpg') }}" alt="參考圖片" style="width: 300px; height: auto;">
    <a href="https://www.taiwan-panorama.com/vn/Articles/Details?Guid=2bf691ed-a091-4b6b-8bd9-873158351e13&CatId=7&srsltid=AfmBOoowniJuj6L1TfKWZYNSr2Yn_BXepbDgt_bsZ8FdIqa-2tJ_qRxn" target="_blank">
        讓移工的明天更好移動人權特展
    </a>
    
    <!-- 第三個策展參考 -->
    <img src="{{ url_for('static', filename='65488.jpg') }}" alt="參考圖片" style="width: 300px; height: auto;">
    <a href="https://www.acfa.tw/2024acfw_cn/" target="_blank">
        2024 台灣東南亞公民社會週【台灣與東南亞公民空間論壇】
    </a>
    
    <img src="{{ url_for('static', filename='655555.jpg') }}" alt="參考圖片" style="width: 300px; height: auto;">
    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwicoOrz54aKAxVSulYBHVg6DFoQFnoECBYQAQ&url=https%3A%2F%2Ftheartpressasia.com%2F2020%2F02%2F26%2Fits-a-groundbreaking-show-for-south-east-asia-the-last-week-of-spectrosynthesis-ii%2F&usg=AOvVaw0hPmnVFdLGEnM6_XDwIGv7&opi=89978449" target="_blank">
        藝術如溫柔絮語提醒，自由是如何曾經或正在遭受限制：《光‧合作用 II-包容關注：東南亞同志議題展》
    </a>
    
    <!-- 最新策展 -->
    <h2>最新策展:</h2>
    <img src="{{ url_for('static', filename='56165154.png') }}" alt="參考圖片" style="width: 300px; height: auto;">
    <a href="https://www.typl.gov.tw/zh-tw/activity/content/6917" target="_blank">
        百年對話
    </a>
</section>

