<!DOCTYPE html>
<html>
<head>
    <title>Our Products</title>
    <style>
        body {
            background-color: #FFFFE0;
        }
    </style>
</head>
<body>
    <h1>參考資料</h1>
    <a href="/">Home</a>
    <p>書籍：</p>                                                                                                                                                         <p>1.五一三事件口述歷史小組編，《在傷口上重生：五一三事件個人口述敘事》，八打靈再也：文運書坊，2020.3。 </p>                                                               <p>2.白瑨（Jean DeBernardi）著，徐雨村譯，《歸屬之儀：馬來西亞檳城華人社群的記憶、現代性與身分認同》，台北：左岸文化，2023.12。</p>                                         <p>3.克里斯多佛‧高夏（Christopher Goscha），《越南：世界史的失語者》，新北：聯經出版，2021。</p>                                                                         <p>4.班納迪克‧安德森(Benedict Richard O’Gorman Anderson)著，陳信宏譯，《比較的幽靈:民族主義、東南亞與全球》，新北：衛城出版，2024。</p>                                    <p> 5.理查‧考科特（Richard Cockett）著，廖婉如譯，《變臉的緬甸：一個由血、夢想和黃金構成的國度》，臺北：馬可孛羅文化，2019。</p>
      <p> 6.陳鴻瑜，《東南亞政治變遷下的華人社群》，臺北：蘭臺出版社，2024。</p>
      <p>7.喬‧布林克里（Joel Brinkley）著，楊芩雯譯，《柬埔寨：被詛咒的國度》，新北：聯經出版，2021。</p>

    
    <p>期刊：</p> 
      <p>孫自明，〈緬甸羅興亞人問題的歷史解構及其當代意義〉，《全球政治評論》第七十四期（臺中，2021），頁135-158。</p>
    
    <p>網路：</p> 
    <a href=" https://www.thenewslens.com/article/86059" target="_blank">
        https://www.thenewslens.com/article/86059
    </a>
    <br>
    <a href="https://www.storm.mg/article/5082328" target="_blank">
        https://www.storm.mg/article/5082328
    </a>
    <br>
    <a href="https://zh.wikipedia.org/zh-tw/%E7%BD%97%E5%85%B4%E4%BA%9A%E4%BA%BA" target="_blank">
        https://zh.wikipedia.org/zh-tw/%E7%BD%97%E5%85%B4%E4%BA%9A%E4%BA%BA
    </a>
    <br>
    <a href="https://storystudio.tw/article/gushi/rohingya-people" target="_blank">
        https://storystudio.tw/article/gushi/rohingya-people
    </a>
</body>
</html>
